*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 800px;
    margin: 0 auto;
    padding: .5em 2em 1em;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

.main-header{
    background-color: #E579E6;
    height: 75px;
    max-height: 7em;
    margin-top: 0.5em;
}

.main-yellow{
    background-color: #E1D67A;
    height: 200px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.main-blue{
    background-color:#0085FF;
    height: 300px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.quadrato1{
    background-color: #ABCFE7;
    float: left;
    width: 150px;
    height: 235px;
    margin-top: 3.1em;
}

.quadrato2{
    background-color: #ABCFE7;
    float:inline-start;
    width: 100%;
    height: 35px;
}

.quadrato3{
    background-color: #ABCFE7;
    float: right;
    width: 150px;
    height: 235px;
    margin-top: 1em;
}

.quadrato4{
    background-color: #ABCFE7;
    float: left;
    width: 390px;
    height: 235px;
    margin-top: 1em;
    margin-left: 1.5em;
}

.main-footer{
    background-color:#8801FE;
    height: 50px;
    max-height: 7em;
    margin-top: 0.5em;
}
